{% extends 'base.html.twig' %}

{% block title %}
Acceuil
{% endblock %}

{% block body %}

<div class="container mt-4" id="blockText">
<div class="card">
  <h5 class="card-header">
  Déjà membre?
  <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
  connection
    </button>
    </h5>
  <div class="card-body">
    <h5 class="card-title">Si tu veux un suivi personnaliser inscris-toi.</h5>
    <p class="card-text">Nous rejoindre te permet de suivre ton IMC en fonction des jours, des mois ou des années.</p>
    <a href="#" class="btn btn-primary">Inscription</a>
  </div>
</div>
</div>

{% endblock %}
